{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div style="height: 5vh;"></div>
<form method="POST" class="container mt-4" id="linkform" onsubmit="linkVal(event)">
    <h3 class="text-center">Amazon Link Tracker</h3>
    
    <div class="form-group">
        <label for="link">Amazon Link</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="Enter link">
        <span id="linkerror" class="text-danger font-weight-bold small"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Look Up link</button>
</form>

<script src="{{ url_for('static', filename='js/linkVal.js') }}"></script>
{% endblock%}