{% extends "base.html" %}
{% block title %}Landing Page{% endblock %}

{% block content %}
<h1>Recently added items</h1>
<div class="container mt-4" id="itemcontainer">
    <h1 class="text-center mb-4">Recently Added Items</h1>
    {% for product in products %}
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ product.title[:45] }}{% if product.title|length > 45 %}...{% endif %}</h5>
            <p class="card-text">{{ product.description[:350] }}{% if product.description|length > 350 %}...{% endif %}</p>
            <p class="text-muted">Current Price: <strong>${{ product.price }}</strong></p>
            <p class="text-muted">Last Price: <strong>${{ product.last_price }}</strong></p>
            <a href="{{ product.link }}" class="btn btn-primary btn-sm">View Product</a>
            <button class="btn btn-warning btn-sm" onclick="updatePrice({{ product.id }})">Update Price</button>
            <button class="btn btn-success btn-sm" onclick="addToAccount({{ product.id }})">Add to Account</button>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}