{% extends "base.html" %}
{% block title %}Log-in{% endblock %}

{% block content %}
<div style="height: 5vh;"></div>
<form method="POST" class="container mt-4" id="loginform" onsubmit="loginVal(event)">
    <h3 class="text-center">Log-in</h3>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" >
        <span id="emailerror" class="text-danger font-weight-bold small"></span>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" >
        <span id="passworderror" class="text-danger font-weight-bold small"></span>
    </div>

    <br>
    <button type="submit" class="btn btn-primary btn-block">Log-in</button>
</form>
<script src="{{ url_for('static', filename='js/loginVal.js') }}"></script>
{% endblock%}