/* colors for alerts */
.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;}


[role="alert"]{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#header{
    background-color: #0e273c;
}

body{
    background-color: #fff9fb;
}
form{
    background-color: #d3d4d9;
    padding: 2rem;
    border-radius: 5px;
}

footer{
    background-color: #0e273c;
}

.btn-primary{
    background-color: #4C956C !important;
    border: #407e5b !important;
}

#itemcontainer{
    padding-bottom: 10rem;
}
